<%= form_with(model: truck_driver, local: true) do |form| %>
  <% if truck_driver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(truck_driver.errors.count, "error") %> prohibited this truck_driver from being saved:</h2>

      <ul>
        <% truck_driver.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :pay_later %>
    <%= form.check_box :pay_later %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
